#textdomain wesnoth-TDH

# wmllint: local spelling Gwitiii

[scenario]
    id=03_The_Skull_of_Morgorath
    name= _ "The Skull of Morgorath"
    next_scenario=04_Mages_and_Elves
    map_file=03_The_Skull_of_Morgorath.map
    {TURNS 34 30 26}
    {DAWN}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}

    current_time=6

    {INTRO_AND_SCENARIO_MUSIC snowfall.ogg northerners.ogg}
    {EXTRA_SCENARIO_MUSIC gameplay06.ogg}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}

    {STORYTXT_THE_SKULL_OF_MORGORATH}
    {TDH_TRACK {JOURNEY_03_NEW}}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        {GOLD 160 140 120}
        {INCOME 6 4 2}
        user_team_name= _ "team_name^Gwiti"
        facing=se
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Orcish Warrior
        id=Karz Gholum
        name= _ "Karz Gholum"
        profile="portraits/orcs/grunt-2.webp"
        side=2
        canrecruit=yes

        [ai]
            aggression=0.6
            caution=0.2
            grouping=offensive
        [/ai]

        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
        team_name=orcs
        user_team_name= _ "team_name^Karz"
        facing=nw
        {GOLD 40 60 100}
        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        type=Orcish Warrior
        id="Isidal B'Tai"
        name= _ "Isidal B’Tai"
        side=3
        canrecruit=yes

        [ai]
            aggression=0.6
            caution=0.2
            grouping=offensive
        [/ai]

        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
        team_name=orcs
        user_team_name= _ "team_name^Isidal"
        facing=nw
        {GOLD 20 40 80}
        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        type=Orcish Warrior
        id=Nakur Kimoni
        name= _ "Nakur Kimoni"
        profile="portraits/orcs/grunt-6.webp"
        side=4
        canrecruit=yes

        [ai]
            aggression=0.6
            caution=0.2
            grouping=no
        [/ai]

        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll
        team_name=orcs
        user_team_name= _ "team_name^Nakur"
        facing=ne
        {GOLD 60 80 120}
        {FLAG_VARIANT6 ragged}
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description= _ "Take the Skull of Morgorath"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha’atel"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Arkal-Thil"
            [/objective]
            [objective]
                condition=lose
                description= _ "Destruction of Leganoth"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]

            {12_TURNS_NOTE}
        [/objectives]

        [recall]
            id="Arkal-Thil"
            x,y=7,6
            facing=se
        [/recall]
    [/event]

    {STARTING_VILLAGES 1 4}
    {STARTING_VILLAGES 2 5}
    {STARTING_VILLAGES 3 9}
    {STARTING_VILLAGES 4 6}

    [event]
        name=start
        [message]
            speaker="Arkal-Thil"
            message= _ "Master, we seem to have wandered into the land of the orcs. Their distinctive beastly smell is in the air..."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Is that all you really feel? I sense a strange magic in this land, very strong too. I may have overestimated you a little if I cannot sense this degree of sorcery."
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "I do not see darkness in these wastelands..."
        [/message]

        [sound]
            name=wail-long.wav
        [/sound]

        [move_unit_fake]
            type=Nightgaunt
            side=1
            x=5,4,3,3,3,4,5,6,7
            y=1,1,2,3,4,4,5,5,5
        [/move_unit_fake]

        [unit]
            id=Leganoth
            name= _ "Leganoth"
            type=Nightgaunt
            unrenamable=yes
            x=7
            y=5
            side=1
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]

        [delay]
            time=500
        [/delay]

        [message]
            speaker=Leganoth
            message= _ "Gwitiii... Gwiti!"
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Oh... I guess I was proven incorrect."
        [/message]
        [message]
            speaker=Leganoth
            message= _ "Gwiti, do not yet march in pursuit of your revenge. First, you shall go south, against the orcs, and there find the Skull of Morgorath."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Speak on."
        [/message]
        [message]
            speaker=Leganoth
            message= _ "Do you see the three orcish clans of this land? Their banners are topped with skulls, as is their custom. But one of these is the Skull of Morgorath — take it and your power will grow greater by far."
        [/message]

        [scroll_to_unit]
            side=2
            canrecruit=yes
        [/scroll_to_unit]
        [delay]
            time=1000
        [/delay]

        [scroll_to_unit]
            side=3
            canrecruit=yes
        [/scroll_to_unit]
        [delay]
            time=1000
        [/delay]

        [scroll_to_unit]
            side=4
            canrecruit=yes
        [/scroll_to_unit]
        [delay]
            time=1000
        [/delay]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Morgorath, huh? The same name as that creature in my dreams. Did you put me up to this?"
        [/message]
        [message]
            speaker=Leganoth
            message= _ "You be the judge of that."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Are you going to keep quiet? Well, no matter. For my purposes, any power is necessary... even if what it may be."
        [/message]
    [/event]

    [event]
        name=side 2 turn 1
        [message]
            speaker=Karz Gholum
            message= _ "The foul undead are closing upon our lands! Time for battle, brethren!"
        [/message]
    [/event]

    [event]
        name=turn 7
        [message]
            speaker="Arkal-Thil"
            message= _ "Master, is such an unidentified spirit worthy of our trust? I have my doubts, for I suspect that he is seeking our destruction for his own lust."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I have to concur, but it all depends on the passage of time. If the gods of darkness are watching us, then it is all up to them..."
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "It’s been a long time since I fought anything myself!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Karz Gholum
        [/filter]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "That skull is powerless!"
            scroll=no
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id="Isidal B'Tai"
        [/filter]
        [message]
            speaker=Leganoth
            message= _ "That is not the skull of Morgorath!"
            scroll=no
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Nakur Kimoni
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=unit
            message= _ "Oh, no! The undead hordes have taken my banner!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "It is not your banner, and it never was! That skull has marked it as mine since long ago."
            scroll=no
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Nakur Kimoni
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Argh! This is only half of the skull, and near enough to powerless! Do not contact me again!"
        [/message]
        [message]
            speaker=Leganoth
            message= _ "Is it the right choice for you? Either way — I shall lead you once again."
        [/message]

        {THUNDER ()}

        [kill]
            id=Leganoth
            animate=yes
            fire_event=no
        [/kill]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "What? I can’t die! Noooo!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Arkal-Thil"
        [/filter]
        [message]
            speaker=unit
            message= _ "I refuse to! I still have my own purpose..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Leganoth
        [/filter]
        [message]
            speaker=unit
            message= _ "You are not worthy of the Skull of Morgorath!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
